.header {
    height: 65px;
    position: relative;
}
.header .top {
    height: 0;
}
.header .top .logo-show {
    top: 50%;
    left: 3%;
    transform: translate(-3%,50%);
}
.header .top .search-box {
    display: none;
}
.header .top .icon-menu {
    height: 65px;
    display: block;
    cursor: pointer;
}
.header .top .icon-menu i {
    height: 100%;
    font-size: 36px;
    color: #fff;
    padding: 0 20px;
    line-height: 65px;
}
.header .top .language {
    margin: 0;
}
.header .top .language p {
    color: #fff;
}
.header .top .language:hover p {
    color: #fff;
}
.header .bottom {
    height: 65px;
    background-color: black;
}
.header .bottom .menu {
    display: none;
}
.fixed {
    height: 65px;
    position: fixed;
    z-index: 110;
}
.fixed .top .logo-show {
    left: 3%;
    transform: translate(-3%,50%);
}
.fixed .top .search-box {
    display: none;
}
.fixed .bottom {
    height: 65px;
    background-color: rgba(0,0,0,.5);
}
.fixed .bottom .menu li a {
    line-height: 0;
}
.fixed .top .language:hover p {
    color: #fff;
}
.mobile-menu {
    position: fixed;
    display: block;
    width: 250px;
    height: 100vh;
    z-index: 111;
    background-color: rgba(80,80,80,1);
    right: -250px;
    transition: right ease-in-out 0.5s;
}
.mobile-menu .icon-close {
    width: 100%;
    text-align: right;
    height: 64px;
    border-bottom: 1px black solid;
}
.mobile-menu .icon-close i {
    color: #fff;
    font-size: 36px;
    padding: 20px;
}
.look {
    width: 100%;
    height: 50px;
    position: relative;
    background-color: rgba(80,80,80,1);
    border-bottom: 1px black solid;
    color: #fff;
}
.look-box {
    position: absolute;
    background: darkkhaki;
    height: 30px;
    border-radius: 30px;
    padding: 10px;
    margin-left: 20px;
}
.look-box:hover > .look-txt {
    width: 157px;
    transition: 0.4s;
    padding: 0 6px;
}
.look-box:hover > .look-btn {
    border: 1px #fff solid;
    transition: 0.4s;
}
.look-btn {
    color: #fff;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: darkkhaki;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.look-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
}
.mobile-menu ul li {
    position: relative;
    border-bottom: 1px black solid;
    list-style: none;
    width: 100%;
    height: 50px;
    background-color: rgba(80,80,80,1);
    cursor: pointer;
    display: inline-block;
}
.mobile-menu ul li a {
    color: #fff;
    font-size: 18px;
}
.mobile-menu ul li .hidden {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.mobile-menu ul li .hidden a {
    padding-left: 25px;
}
.mobile-menu ul li .hidden .icon-arrow {
    width: 20px;
    height: 20px;
    border: 1px #fff solid;
    border-radius: 50%;
    text-align: center;
    margin-right: 25px;
}
.mobile-menu ul li .hidden .icon-arrow i {
    color: #fff;
    font-size: 20px;
}
.mobile-menu ul li .show-sub {
    position: relative;
    width: 100%;
    background-color: #fff;
    height: 0;
    transition: 0.3s;
}
.mobile-menu ul li .show-sub .item {
    height: 0;
    width: 100%;
    border-bottom: none;
}
.mobile-menu ul li .show-sub .item a{
    display: flex;
    width: 100%;
    height: 100%;
    color: black;
}
.mobile-menu ul li .show-sub h3 {
    display: block;
    font-size: 16px;
    height: 100%;
    width: auto;
    line-height: 50px;
    padding-right: 20px;
}
.mobile-menu ul li .show-sub img {
    height: 100%;
    width: auto;
    padding: 0 10px 0 30px;
}
