* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    font-size: 16px;
}
@font-face {
    font-family: 'MYRIADPRO-BOLD';
    src: url(font/Font/MYRIADPRO-BOLD.OTF);
}
@font-face {
    font-family: 'MYRIADPRO-LIGHT';
    src: url(font/Font/MYRIADPRO-LIGHT_0.OTF);
}
body {
    font-family:'MYRIADPRO-BOLD';
    position: relative;
}
.background {
    position: fixed;
    background: url(img/bg.jpg) center center no-repeat;
    width: 100%;
    height: 100vh;
    z-index: -9999;
}
.mobile-menu {
    display: none;
}
.header {
    width: 100%;
    height: 115px;
    z-index: 99;
    transition: all ease-in-out 0.3s;
    position: relative;
    opacity: 1;
}
.header .top {
    height: 65px;
    background-color: rgba(0,0,0,1);
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.header .top .logo-show {
    position: absolute;
    width: 160px;
    height: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all ease-in-out 0.5s;
    opacity: 1;
}
.header .top .right {
    height: 65px;
    display: flex;
    justify-content: flex-end;
}
.header .top .search-box {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.header .top .search-box .search-txt {
    position: relative;
    width: 0px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 16px;
    padding: 0px 0px;
    margin-right: 10px;
    transition: all ease-in-out 0.3s;
}
.header .top .search-box .search-btn {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: White;
    border: 1px black solid;
    border-radius: 50%;
}
.header .top .search-box .close {
    display: none;
}
.header .top .search-box:hover .search-btn {
    border: 1px solid rgba(220,220,220,1);
    transition: border ease-in-out 0.3s;
}
.header .top .icon-menu {
    display: none;
}
.header .top .language {
    width: 40px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.header .top .language p {
    font-size: 18px;
    color: #a2a2a2;
}
.header .top .language:hover p {
    color: #505050;
}
.header .top .VN {
    display: flex;
}
.header .top .EN {
    display: none;
}
/* Menu */
.header .bottom {
    width: 100%;
    height: 50px;
    background-color: #505050;
}
.header .bottom .menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.header .bottom .menu li {
    list-style: none;
    height: 100%;
}
.header .bottom .menu li a {
    display: block;
    color: #fff;
    line-height: 50px;
    height: 100%;
    padding: 0 15px;
}
.header .bottom .menu .active:hover {
    background-color: #fff;
}
.header .bottom .menu .active:hover a {
    color: #333;
}
.header .bottom .menu .no-sub:hover {
    background-color: black;
}
.header .bottom .show-sub {
    background-color: #fff;
    position: absolute;
    width: 100vw;
    height: 0px;
    left: 0;
    transition: all ease-in-out 0.3s;
}
.header .bottom .third .all-items {
    height: 100%;
}
.header .bottom .menu .active:hover .first,
.header .bottom .menu .active:hover .secondary {
    height: 300px;
}
.header .bottom .menu .active:hover .third {
    height: 150px;
}
.header .bottom .all-items {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .bottom .item {
    margin-left: 5px;
    width: 8%;
    height: 75%;
    background-color: #fff;
}
.header .bottom .show-sub .all-items .item a {
    display: none;
    height: 90%;
    width: 90%;
    padding: 0 5%;
    border: 1px white solid;
    line-height: 10px;
    transition: all ease-in-out 0.3s;
}
.header .bottom .menu .active:hover .show-sub .all-items .item > a {
    display: block;
}
.header .bottom .menu .active:hover .show-sub .all-items:last-child {
    border-top: 1px black solid;
}
.header .bottom .show-sub .all-items .item a:hover {
    border: 1px black solid;
}
.header .bottom img {
    margin: 0 auto;
    display: block;
    height: 80%;
    width: auto;
}
.header .bottom .show-sub .item h3 {
    display: block;
    text-align: center;
    font-size: 13px;
    height: 20%;
    width: 100%;
    color: #333;
}
/* FIXED */ 
.fixed {
    height: 65px;
    position: fixed;
    z-index: 110;
}
.fixed .top {
    height: 0px;
}
.fixed .top .logo-show {
    left: 3%;
    transform: translate(-3%,50%);
    opacity: 1;
}
.fixed .top .search-box .search-btn {
    border: 1px #505050 solid;
    transition: none;
}
.fixed .bottom {
    height: 65px;
}
.fixed .bottom .menu li a {
    line-height: 65px;
}
.fixed .top .language:hover p {
    color: #000;
}
/* SLIDE */
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-container .img img {
    width: 100%;
    height: 540px;
}


/* PRODUCT */

.section {
    width: 100%;
    height: 2400px;
    padding: 150px 0 50px 0;
    background-color: #fff;
}
.container {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}
.section .product-title {
    width: 100%;
    border-top: 1px dotted #000;
    position: relative;
    height: 3%;
    opacity: 0;
    transition: opacity ease-in-out 1s;
}
.section .product-title h1 {
    position: absolute;
    display: inline-block;
    font-size: 38px;
    font-weight: 400;
    padding: 0 20px;
    width: auto;
    background-color: #fff;
    top: 70px;
    left: 50%;
    transform:translateX(-50%);
    transition: 1s;
    z-index: 1;
}
.section .product-type {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    position: relative;
    height: 15%;
    z-index: 2;
}
.section .product-type a {
    display: block;
    width: 30%;
    height: 100%;
}
.section .product-type h2 {
    text-align: center;
    font-size: 0px;
    font-weight: 400;
    color: black;
    transition: 1s;
}
.section .product-type .img {
    width: 100%;
    height: 80%;
}
.section .product-type img {
    display: block;
    margin: 0 auto;
    width: 0%;
    height: 0%;
    transition: 1s;
}
.section .arrow {
    position: absolute;
    height: 40px;
    top: 100%;
    left: 10%;
    transform: translate(10%,0%);
    transition: all ease-in-out 0.3s;
}
.arrow-down {
    left: 10px;
    bottom: -38px;
    display: block;
    width: 75px;
    height: 38px;
    background: url(img/popular-arrow.png) center bottom no-repeat;
}
.section .products {
    position: relative;
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    height: 52%;
    opacity: 0;
    transition: all ease-in-out 1.5s;
}
.section .wrap {
    position: absolute;
    width: 300%;
    top: 0px;
    left: 0px;
    height: 100%;
    transition: left ease-in-out 1s;
}
.section .products .popular {
    float: left;
    width: calc(100%/3);
    height: 100%;
}
.section .products .col-1 {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section .products .item {
    flex: 0 0 21%;
    height: auto;
}
.section .products .item:not(:first-child) {
    margin-left: 50px;
}
.section .products .item a {
    display: block;
    width: 100%;
    height: 100%;
    color: black;
    border: 1px white solid;
    transition: all ease-in-out 0.3s;
}
.section .products .item a:hover {
    border: 1px black solid;
}
.section .products .item a:hover > span {
    opacity: 1 ;
    transition: all ease-in-out 0.5s;
} 
.section .products .item span {
    opacity: 0;
    display: block;
    width: 100%;
    text-align: center;
    font-family:'MYRIADPRO-LIGHT';
    padding: 15px 0;
    color: #a2a2a2;
    font-weight: 500;
}
.section .products .item img {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.section .products .item h3 {
    padding: 10px 0;
    text-align: center;
    font-weight: 100;
    font-size: 16px;
}
.section .products .item h4 {
    text-align: center;
    padding: 10px 0;
    color: #a2a2a2;
    font-weight: 100;
    font-size: 14px;
}

.section .products .item p {
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
}

.box {
    width: 100%;
    height: calc(30% - 24px);
    border: 1px #a2a2a2 solid;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.box .item {
    position: relative;
    width: 400px;
    height: 400px;
    display: block;
}
.box a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top : 650px;
    left: 0;
    z-index: 10;
    transition: top ease-in-out 1s;
}
.box a:hover {
    transform: scale(0.9);
    transition: all ease-in-out 0.5s;
}
.box .img {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 10px 10px 0 rgba(0,0,0,.2);
}
.box img {
    width: 100%;
    height: 100%;
    transform: scale(1);
}
.footer {
    position: relative;
    display: block;
    width: 100%;
    height: 500px;
    background-color: black;
    overflow: hidden;
}
.footer .wrap-footer {
    position: absolute;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 500px;
    transition: top ease-in-out 1s;
}
.footer .logo-bottom {
    display: block;
    position: absolute;
    width: 220px;
    height: 40px;
    top : 20px;
}
.footer .logo-bottom img {
    width: 100%;
    height: 100%;
}
.footer .col-1 {
    flex: 0 0 11%;
    height: 70%;
    margin-top: 40px;
}
.footer .wrap > div:not(.fix) {
    margin-left: 10px;
}
.footer .col-3 {
    flex : 0 0 32%;
    height: 70%;
    margin-top: 40px;
}
.footer a {
    display: inline-block;
    width: auto;
    color: #a2a2a2;
    font-family: 'MYRIADPRO-LIGHT';
    word-break: break-all;
    padding: 5px 10px;
    border: 1px solid rgba(176,176,176,0);
}
.footer h3 {
    color: #a2a2a2;
    font-family: 'MYRIADPRO-BOLD';
    padding: 5px  10px;
}
.footer ul {
    width: 100%;
}
.footer li {
    list-style: none;
    margin-top: 10px;
}
.footer  a:hover{
    border: 1px solid #a2a2a2;
    transition: all ease-in-out 0.3s;
}
.footer h4 {
    padding: 10px;
    color: #a2a2a2;
}
.footer p {
    font-family: 'MYRIADPRO-LIGHT';
    color: #a2a2a2;
    padding: 10px;
}
.footer .special-menu .item {
    margin-top: 20px;
    display: flex;
}
.footer .special-menu .icon { 
    display: block;
    margin: 0 10px;
}
.footer .icon i{
    color: #a2a2a2;
    font-size: 26px;
}

.footer .fb-ytb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px white solid;
    border-radius: 50%;
    margin-left: 10px;
    background-color: rgba(176,176,176,0);
    cursor: pointer;
}
.footer .fb-ytb:hover {
    background-color: #a2a2a2;
    transition: 0.5s;
}
.footer .fb-ytb i {
    color: #fff;
    font-size: 18px;
}
.coppy-right {
    display: block;
    width: 100%;
    text-align: center;
    height: 0;
    background-color: #353535;
    transition: height ease-in-out 1.5s;
}
.coppy-right p {
    color: #979797;
    font-family: 'MYRIADPRO-LIGHT';
    line-height: 50px;
    opacity: 0;
    transition: opacity ease-in-out 3s;
}
.coppy-right a {
    color: #979797;
}
.coppy-right a:hover {
    color: #fff;
    transition: 0.3s;
}

/* DETAILS */
.details {
    padding: 0;
}
.details .details-type {
    position: relative;
    display: block;
    width: 100%;
    height: 3%;
    padding: 30px 0 50px 0;
}
.details .details-type h1 {
    display: block;
    position: absolute;
    font-size: 48px;
    font-weight: 100;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.8s;
}